.selected_option {
  font-family: "IranYekanFnum", sans-serif;
  outline: none;
  width: 100%;
  background: #fff;
  border: 1px solid #bbc3ce;
  height: 50px;
  padding: 0 2px;
  position: relative;
  border-radius: 5px;
}

.option {
  display: flex;
  align-items: center;
  text-align: right;
  cursor: pointer;
  position: relative;
  padding: 12px 20px;
}
