@font-face {
  font-family: "IranYekanFnum";
  src: url("../public/fonts/MobileFonts_FaNum/IRANYekanRegularMobile\(FaNum\).ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IranYekanFnum", sans-serif;
  background-color: #f1f3f5;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
